
.Groups {
    padding: 2px;
    border: 2px solid grey;
    margin-top: 60px;
    margin-left: 4px;
    width: 30%;
    float: left;
    background-color: #6a4928;
}

.Foods {
    padding: 2px;
    border: 1px solid grey;
    margin-top: 60px;
    margin-left: 2%;
    width: 65%;
    float: left;
    background-color: #6a4928;
}