.Auth__Aside {
  width: 40%;
  background-color: #6a8347;
  background-image: url("../assets/food_1.jpg");
  background-size: 100% 100%;
}

.App__Form {
  width: 50%;
  background-color: #6a8347;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}
